<ips:template parameters="$pagename, $pagesdesc, $servers" />

<div class="ipsPad ipsPad_double">
    <div class="ipsType_center ipsSpacer_bottom ipsSpacer_top">
        <h1 class="ipsType_pageTitle ipsType_veryLarge ipsType_reset">{$pagename}</h1>
        <p class="ipsType_richText ipsType_large ipsType_neutral ipsSpacer_bottom">{$pagesdesc}</p>
    </div>
</div>

<div class="ipsPad ipsPad_double serverconsole_status_container">
    <ol class='ipsDataList' itemscope itemtype="http://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Ascending">
        {{foreach $servers as $k => $server}}
            <li class='ipsDataItem gcu_flex_row gcu_flex_between' itemprop="itemListElement">
                <div class='ipsDataItem_main'>
                    <h4 class='ipsDataItem_title ipsType_bold'>{$server['name']}</h4>
                    <p class='ipsDataItem_meta ipsType_small ipsResponsive_hidePhone'>
                        {{if! $server['in_maintenance']}}
                            {lang="serverconsole_statuspage_lastcheck"}: {datetime="$server['history']->checked_at"}
                        {{elseif $server['maintenance_estimated_finished_time']}}
                            {lang="serverconsole_statuspage_maintenance_estimate_finish"}: {$server['maintenance_estimated_finished_time']}
                        {{endif}}
                    </p>
                </div>

                {{if! $server['in_maintenance']}}
                    {{if \IPS\Settings::i()->serverconsole_statuspage_first_info !== 'none'}}
                        {{if \IPS\Settings::i()->serverconsole_statuspage_first_info == 0}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->cpu_load_now}, {$server['history']->cpu_load_5min}, {$server['history']->cpu_load_15min}</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_cpuload"}</dd>
                            </div>
                        {{elseif \IPS\Settings::i()->serverconsole_statuspage_first_info == 1}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->cpu_usage}%</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_cpu"}</dd>
                            </div>
                        {{elseif \IPS\Settings::i()->serverconsole_statuspage_first_info == 2}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->ram_percentage}%</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_ram"}</dd>
                            </div>
                        {{elseif \IPS\Settings::i()->serverconsole_statuspage_first_info == 3}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->diskspace_percentage}%</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_disk"}</dd>
                            </div>
                        {{endif}}
                    {{endif}}

                    {{if \IPS\Settings::i()->serverconsole_statuspage_second_info !== 'none'}}
                        {{if \IPS\Settings::i()->serverconsole_statuspage_second_info == 0}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->cpu_load_now}, {$server['history']->cpu_load_5min}, {$server['history']->cpu_load_15min}</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_cpuload"}</dd>
                            </div>
                        {{elseif \IPS\Settings::i()->serverconsole_statuspage_second_info == 1}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->cpu_usage}%</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_cpu"}</dd>
                            </div>
                        {{elseif \IPS\Settings::i()->serverconsole_statuspage_second_info == 2}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->ram_percentage}%</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_ram"}</dd>
                            </div>
                        {{elseif \IPS\Settings::i()->serverconsole_statuspage_second_info == 3}}
                            <div class='ipsDataItem_stats ipsType_center'>
                                <dt class='ipsDataItem_stats_number'>{$server['history']->diskspace_percentage}%</dt>
                                <dd class='ipsDataItem_stats_type ipsType_minorHeading'>{lang="serverconsole_statuswidget_info_disk"}</dd>
                            </div>
                        {{endif}}
                    {{endif}}
                {{endif}}

                <div class="serverconsole_status_status gcu_flex_align_self_center">
                    {{if! $server['in_maintenance']}}
                        <div class="serverconsole_status_status_pill serverconsole_status_status_pill_{$server['history']->status}" data-ipstooltip _title="{{if $server['history']->status === 'online'}}{lang='serverconsole_statuspage_online'}{{elseif $server['history']->status === 'offline'}}{lang='serverconsole_statuspage_offline'}{{endif}}">
                            {{if $server['history']->status === 'online'}}
                                <i class="fa fa-check"></i>
                            {{elseif $server['history']->status === 'offline'}}
                                <i class="fa fa-times"></i>
                            {{endif}}
                        </div>
                    {{else}}
                        <div class="serverconsole_status_status_pill serverconsole_status_status_pill_maintenance" data-ipstooltip _title="{$server['maintenance_info']}">
                            <i class="fa fa-wrench"></i>
                        </div>
                    {{endif}}
                </div>
            </li>
        {{endforeach}}
    </ol>
</div>