/***********
 * FLEX BOX
 ***********/

.gcu_flex_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.gcu_flex_between {
    justify-content: space-between;
}
.gcu_flex_align_self_center {
    align-self: center;
}

/***********
 * GENERAL
 ***********/
.serverconsole_status_container {
    max-width: 600px;
    margin: 0 auto;
}
.serverconsole_status_status {
    width: 30px;
}
.serverconsole_status_status_pill {
    height: 30px;
    width: 30px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.serverconsole_status_status_pill_online {
    background: #598f5b;
}
.serverconsole_status_status_pill_offline {
    background: #c75050;
}
.serverconsole_status_status_pill_maintenance {
    background: #d69625;
}