<ips:template parameters="$servers, $config" />
<h3 class="ipsWidget_title ipsType_reset">{lang="serverconsole_statuswidget_info_status"}</h3>

<div class="ipsPad_half ipsWidget_inner">
  <ul class="ipsDataList ipsDataList_reducedSpacing">
    {{foreach $servers as $server}}
      <li class="ipsDataItem">
        <div class="ipsDataItem_icon ipsPos_middle ipsType_center ipsType_large ipsType_light">
          {{if !$server['in_maintenance']}}
            <strong class='ipsOnlineStatus ipsOnlineStatus_{$server['history']->status}'><i class='fa fa-circle'></i></strong>
          {{else}}
            <strong class='ipsOnlineStatus' style="color:#d69625;"><i class='fa fa-circle'></i></strong>
          {{endif}}
        </div>
        <div class="ipsDataItem_main">
          <div class="ipsType_large">{$server['name']}</div>
          {{if !$server['in_maintenance']}}
              {{if $config === 'no_info'}}
              {{elseif $config == 0}}
                <div class="ipsType_small">{lang="serverconsole_statuswidget_info_cpuload"}: {$server['history']->cpu_load_now}, {$server['history']->cpu_load_5min}, {$server['history']->cpu_load_15min}</div>
              {{elseif $config == 1}}
                <div class="ipsType_small">{lang="serverconsole_statuswidget_info_cpu"}: {$server['history']->cpu_usage}%</div>
              {{elseif $config == 2}}
                <div class="ipsType_small">{lang="serverconsole_statuswidget_info_ram"}: {$server['history']->ram_percentage}%</div>
              {{elseif $config == 3}}
                <div class="ipsType_small">{lang="serverconsole_statuswidget_info_disk"}: {$server['history']->diskspace_percentage}%</div>
              {{endif}}
          {{endif}}
        </div>
      </li>
    {{endforeach}}
  </ul>
</div>
