<ips:template parameters="$server" />

<br />
<br />

<table width='100%' cellpadding='15' cellspacing='0' border='0' style='background: #f9f9f9;'>
    <tr>
        <td dir='{dir}'>
            <table width='100%' cellpadding='0' cellspacing='0' border='0' style='background: #f9f9f9;'>
                <tr>
                    <td dir='{dir}' style="font-family: monaco, 'courier new', courier, monospace; font-size: 18px; font-weight: bold;">
                        {$server->name} is no longer under maintenance!
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>