<ips:template parameters="$server" />

<br />
<br />

<table width='100%' cellpadding='15' cellspacing='0' border='0' style='background: #f9f9f9;'>
    <tr>
        <td dir='{dir}'>
            <table width='100%' cellpadding='0' cellspacing='0' border='0' style='background: #f9f9f9;'>
                <tr>
                    <td dir='{dir}' style="font-family: monaco, 'courier new', courier, monospace; font-size: 18px; font-weight: bold;">
                        {$server->name} is now under maintenance.
                    </td>
                </tr>
                <br>

                <tr>
                    <td dir='{dir}' style="font-family: monaco, 'courier new', courier, monospace; font-size: 18px;">
                        {$server->maintenance_info}
                    </td>
                </tr>
                <br>
                <br>

                {{if $server->maintenance_estimated_finished_time}}
                    <tr>
                        <td dir='{dir}' style="font-family: monaco, 'courier new', courier, monospace; font-size: 18px;">
                            {lang="serverconsole_statuspage_maintenance_estimate_finish"}: {$server->maintenance_estimated_finished_time}
                        </td>
                    </tr>
                {{endif}}
            </table>
        </td>
    </tr>
</table>